.cta {
  text-align: center;
  padding: 2rem 2rem;
  background: #f9f9f9;
}

.cta h3 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.button {
  background-color: rgba(78, 78, 78, 0.2);
  color: #383737;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.9rem 2.2rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: rgba(49, 49, 49, 0.4);
  color: #ffffff;
}
