.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3); /* легке затемнення під відео */
}
