* {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
   background-color: #f9f9f9;
  color: #222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, .highlight {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #222;
  letter-spacing: 0.5px;
}
